<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация успешно завершена</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="success-container">
    <div class="success-content">
        <h1>Регистрация успешно завершена!</h1>
        <p>Ваш аккаунт был успешно создан.</p>
        <a href="/login" class="success-btn">Войти</a>
    </div>
</div>
</body>
</html>
