<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали задачи</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav id="navbar">
    <a href="/tasks" class="btn back-btn">Вернуться к списку задач</a>
    <div class="nav-user">
        <a href="/profile" class="username">
            <span class="username" th:text="${username}"></span>
        </a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn logout-btn">Выйти</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="task-details">
        <h1 th:text="${task.getTitle()}" class="task-title"></h1>
        <p class="task-property"><strong>Описание: </strong><span th:text="${task.getDescription()}"></span></p>
        <p class="task-property"><strong>Срок выполнения: </strong><span
                th:text="${#temporals.format(task.getDueDate(), 'E, MMM d, yyyy')}"></span></p>
        <p class="task-property"><strong>Статус: </strong><span th:text="${task.getStatus()}"></span></p>
        <p class="task-property"><strong>Приоритет: </strong><span th:text="${task.getPriority()}"></span></p>

        <a th:href="@{/tasks/edit/{id}(id=${task.getId()})}"
           class="btn btn-primary">Редактировать задачу</a>
        <form th:if="${#strings.toLowerCase(task.getStatus()) != 'completed'}"
              th:action="@{/tasks/complete/{id}(id=${task.getId()})}"
              method="post"
              style="display:inline;">
            <button type="submit" class="btn action-btn complete-btn">Завершить задачу
            </button>
        </form>
        <form th:if="${#strings.toLowerCase(task.getStatus()) == 'completed'}"
              th:action="@{/tasks/incomplete/{id}(id=${task.getId()})}"
              method="post"
              style="display:inline;">
            <button type="submit" class="btn action-btn incomplete-btn">Отметить как незавершенную
            </button>
        </form>
        <a th:href="@{/tasks/delete/{id}(id=${task.id})}"
           class="btn btn-danger"
           onclick="return confirm('Вы уверены? Это действие нельзя отменить.');">Удалить</a>
    </div>
</div>
</body>
</html>
